<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
    <h1 style="text-align:center; font-weight:bold; color:blue"> Counter</h1>
    <br><br>
    <p style="text-align:center; font-weight:bold; color: navy; font-size:25px"><%=count%> times</p>
    <div class ="row" style="margin-left:285px">
        <div class="col">
            <form action ="/double" method="post" >
            <input type="submit" value ="Double" class="btn btn-info"> 
            </form>
        </div>
        <div class="col">
            <form action="/reset" method="post">
            <input type="submit" value ="Reset" class="btn btn-danger ">
            </form>
        </div>
    </div>
    <form >
    </form>
    </div>
</body>
</html>